.cards {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    /* height: 150px; */
}

.details {
    display: flex;
    flex-direction: column;
    line-height: 1px;
}

.vegsymbol {
    width: 10px;
    height: 10px;
}

.image_box {
    display: flex;
    flex-direction: column;
}

.foodimage{
    height: 90px;
    width: 90px;
}

.add_btn{
    border-radius: 5px;
    line-height: 20px;
    color: #008000;
    border: none;
    box-shadow: 2px;
    /* background: white; */
}